Repository mlibrary/catalog-browse, pull requests merged in 2021-11, with the labels that each got.

#1 Pull Request Template
  .github/pull_request_template.md
Labels: documentation

#3 Swapping `neutral` root variables
  public/browse.css
Labels: css

#5 Adding `m-chat` component
  views/browse.slim
Labels: enhancement

#4 Updating pagination layout and styles
  public/browse.css
  views/browse.slim
Labels: css

#6 Adding skip links section and styles
  public/browse.css
  views/browse.slim
Labels: enhancement, css, accessibility

#9 Responsive Table
  public/browse.css
  views/browse.slim
Labels: css

#8 Responsive Footer
  public/browse.css
  views/browse.slim
Labels: css

#10 Responsive Datastores
  public/browse.css
  views/browse.slim
Labels: css

#11 Responsive Search Box
  public/browse.css
  views/browse.slim
Labels: css, accessibility

#13 SEARCH-1525: Catalog Browse Header Content
  public/browse.css
  views/browse.slim
Labels: enhancement, css

#16 Pagination Template
  views/components/pagination.erb
  views/layout.erb
Labels: enhancement
